@model LearningMVC.Models.LoginModel

@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>Log In</h1>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Login">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Login" class="control-label"></label>
                <input asp-for="Login" class="form-control" />
                <span asp-validation-for="Login" class="text-danger">@ViewData["WrongAcc"]</span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Login" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<div class="btn-group" role="group" aria-label="Basic example">
    <div>
        <button type="button" class="btn btn-secondary" onclick="location.href='@Url.Action("Index", "Home")'">Return</button>
    </div>
    <p>
      <button class="btn btn-info" type="button" data-toggle="collapse" data-target="#collapseI">
        ?
      </button>
    </p>
    <div style="min-height: 120px;">
      <div class="collapse" id="collapseI">
        <div class="card card-body" style="width: 300px;">
          Accounts for testing:<br />

          Username: test1
          Password: test1

          Username: test2
          Password: test2
        </div>
      </div>
    </div>
</div>